
/* class */
.top-section {
    border: 1px solid blueviolet;
}

.container {
    margin: auto 80px;
    width: 1500px;
}

.wrap {
    border: 3px solid rebeccapurple;
    background-color: burlywood;
    padding: 10px;
    margin: 10px;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
}


/* other attributes */
img {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    text-align: center;
}
