/* class */
.item {
    border: 3px solid seagreen;
    width: 140px;
    height: 140px;
    display: inline-block;
}

.parent {
    border: 2px solid blue;
    background-color: orange;
    height: 2000px;;
}

/* css position: static(default), absolute, relative, fixed, sticky */

/* position: relative will allow us to move that element from its normal position */
/* position: absolute will allow us to move that element from its normal immediate parent */
/* position: static will follow normal DOM flow */
/* position: fixed will make element fixed at certain top/bottom/left/right from browser */
#item3 {
    /* position: relative; */
    /* position: absolute */
    /* position: static;
    top: 50px;
    left: 50px; */

    /* position: fixed;
    bottom: 1px;
    right: 1px; */

    position: sticky;
    top: 5px;
}