/* apply on whole page */
* {
    box-sizing: border-box;
}

/* apply on class */
.container {
    width: 700px;
    border: 2px solid rgb(255, 170, 0);
    margin: 40px auto;  /* y-axis, x-axis */
    background: chocolate;
}

.item {
    border: 4px solid green;
    padding: 10px 2px;
    margin: 10px 2px;
    background: rgb(114, 192, 236);
}

/* apply on id */
#fruit {
    width: 48%;
    float: left;
}

#computer {
    width: 48%;
    float: right;
}

#stationary {
    width: 100%;
    clear: both;
}

/* apply on specific types */
p, h3 {
    text-align: justify;
}

h2 {
    margin: auto;
    width: 100px;
}