#productOne {
    color: blue;
}

#productTwo {
    /* red green blue each ranges between 0-255 */
    color: rgb(0, 255, 255);  
}

#product3 {
    color: #00ff99;
}

.text-style {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    background-color: #6b8636;
}